{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items:<strong> {{order.get_cart_quantity}}</strong></h5></th>
						<th><h5>Total:<strong> &#8377;{{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a href="{% url 'checkout' %}">
							<button id="checkoutbtn" style="float:right; margin:5px;" class="btn btn-success">Checkout</button>
							</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				
				{% if items %}
				<p id="empty-cart" class="hidden" style="text-align: center;">Cart Empty!</p>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>&#8377;{{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>&#8377;{{item.get_total}}</p></div>
				</div>
				{% endfor %}
				{% else %}
				<div class="cart-row">
				<h6 style="text_align: center">No products to sell!</h6>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<script>
		var num = '{{order.get_cart_total}}';
		if (num=='0') {
			document.getElementById('checkoutbtn').disabled = true;
			document.getElementById('empty-cart').classList.remove('hidden');
		}
	</script>
{% endblock content %}
